body{
	background-color: #e9f5fd;
	article{margin: 15px 0;
		min-height: 600px;
		h1{
		display:none;
		}
	}
	img.mobileH, img.mobileHH{
		display:none;
	}
	.container-fluid{
		padding:0;	
		.head{
				padding-bottom:30px;
		}
	}
	h3{
		display:block;
		@include text(24px);
		text-align: center;
		text-transform: uppercase;
		color:$lBlue;


	}p{
		@include text(18px);
		margin-top: 18px;
	}

	span .star{
		font-size: 14px;
	}


.perevagiBox{

	display:flex;
	justify-content: space-between;
		.perevagaBox{
			margin:15px 0px;

			.perevagaIcon{
				background-color: $lBlue;
				color:white;
				width:64px;
				height:64px;
				border-radius: 50%;
				display:flex;
				justify-content: center;
				align-items: center;
				transition: 0.5s;
				margin:auto;
				text-decoration: none;
				&:hover{
					background-color: $red;
					cursor:pointer;
				};
				i{

					text-align: center;
					font-size: 32px;
					//display:none;
				}
			}
			.perevagatext{
				//margin-top: 10px;
				display:block;
				@include text(16px);
				text-align: center;
				padding:10px 0px;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					color:$red;
				};
			}

		}
}

}
h3.newsBg{
	background-color: $llBlue;
	padding: 20px;
	margin-bottom: -40px;

}

.newsBlock{

	background: $llBlue;
	display:flex;
	padding:20px;
	#search-results-live{
		display:flex;
		overflow-x:hidden;

		.search-entry{
				background-color: rgba(255,255,255,0.4);
				list-style: none;
			//width:10px;
			//display:inline-block;
			min-width:320px;
			margin:15px 15px;
			transition: 0.5s;
				&:hover{
					background-color: rgba(255,255,255,0.8);
				}
					;
			a{
				h3{
	
					@include text(14px);
					color:$blue;
					text-align: left;
					font-weight: 700;
				}
				img{
					width:80px;
					border-radius:50%;
					margin:10px;
					float:left;
				}
				p{
					@include text(12px);
					margin:5px;
				}
				text-decoration: none;

			}
				h6{
					display:none;
				}
		}
	}
}



.consaltingBlock{

	display:flex;

	#search-results-live{

		display:flex;
		overflow-x:scroll;
		margin:15px 0px;

		.search-entry{
		//background-color: red;
			background-color: $llBlue;
		min-width:320px;
			margin:15px 15px;
			transition: 0.5s;
			list-style:none;
		}
		h3{
			@include text(14px);
			font-weight: 700;	
			color: $blue;
		}	
		p{
			@include text(12px);
			padding:5px 15px;	
			margin:0;
		}
		a{

			text-align: center;
			    width: 100px;
			    margin:auto;
		    //height: 20px;
		    display: block;
		    background-color: $red;
		    @include text(14px);
		    text-decoration: none;
		    text-transform: uppercase;
		    padding:5px;
		    color:white;
		   margin-bottom: -12px;
		}
	}
	

}







.mobileBlock{
	display:none;
}
@media only screen and (max-width : 768px){
		body{
			.head h4{
				margin-left: 0;
				    padding-left: 5px;
			}


			img.mobileH{
				display:block;
				position:absolute;
				left:0;
				z-index: -5;
			}
			img.pcH{
				display:none;
			}
			img.mobileHH{
				display:block;

			}

			.container-fluid{
				padding:0 15px;
			}
			header{
				.contacts{
					float:left;
					margin: 20px 0;
					display:none;
				}
			
	



			.contactsMobile{
				

					
				@include text(26px);
				font-weight: 400;
				padding-top:6px;
				margin:0 5px;
				//margin-left: 50px;
				//vertical-align: top;
				display: inline-block;

					img{
						height:24px;
					}
				&.phone img{
					display:none;
				}
				&.mail img{
				//	position: absolute;
					top:5px;
					right:5px;
				}
			}
					.mail.contactsMobile{
					display:flex;
				float:right;
				justify-content: flex-end;



			}
			}
.headBaner{
	position: relative;
	margin-top: 50px;
	h1{
		width:100%;
		//height:60px;
		@include text(44px);
		//font-weight: 900;
		color:white;
		position: static;
		text-align: center;
		left: 15px;
		top:30%;
		background-color: black;
		padding-top: 30px;
		display:block;
		z-index: 10;
	}
	p{
		text-align: center;
		width:320px;
		padding:0 30px;
		right:0;
		left:0;
		margin:auto;
		z-index: 10;
		text-shadow: 1px 2px 5px black;
		
	}
	img.mobileH{
		z-index: 0;

		}

}
	ul.menu{
		display:none ;
	}

.perevagiBox{

	display:flex;
	flex-direction: column;
	//justify-content: space-between;

}
article{
	padding:15px;
}
footer{
		//height:80px;
			.contacts{
			float:right;

			.phone, .mail{

				@include text(26px);
				font-weight: 400;
				padding-top:6px;
				margin:0 5px;
				vertical-align: top;
				display: inline-block;
					margin-top: 30px;
				}
			}
		.footerLogo{

			display: inline-block;
			img{
			width:64px;
			//position: absolute;
			left:15px;
			bottom:10px;
			}
			h4{
			top:0;
			display: inline-block;
			padding-left: 10px;
			//margin-left: 30px;
			@include text(20px);
			margin-top: 0px;
			vertical-align: top;
			//line-height: 64px;
			color:white;
			display: block;
			margin-left: 0 ;
			//margin-top: -30px;
			}
			h4.mobileNumber{
						display:inline-block;
						font-size:14px;
			}
		.mobileBlock{
			img{
				left:2px;
				position: absolute;
				width:32px;
				right:32px !important;

			}
			h4{
				font-size: 16px;
			}
		}
		}
.contacts{
	display:none;
}
		.footerIMG{
				
					img.brain{
						display:none;
					}
				}
				}
		}
.mobileBlock{
	display:inline-block;

	&.phone {

				@include text(14px);
				font-weight: 400;
				color:white;
				//padding-top:6px;
				///margin:0 5px;
				//vertical-align: top;
				display: inline-block;
					margin-top: 0px;

				}
			
	&.mail{
		position: absolute;
		bottom: 10px;
		right:15px;
		width:32px;
		img{
			position: static
		}
	}


}

}

@media only screen and (max-width : 500px){
	header{
		.mail.contactsMobile{
			justify-content: center !important;
			float:none !important;
		}
		.languageBlock{
			text-align: center;
			position: static;
		}
	}


}